.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ce2829;
}

.success h1 {
  text-align: center;
  color: white;
  margin-top: 0px;
}

.success p {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.success button {
  margin-top: 10px;
}

.lezzet {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-family: "Satisfy", sans-serif;
  color: #fdc913 !important;
}

.alt-kisim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.aciktim {
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: #fdc913;
  color: black;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
}

.secenekler {
  color: #ce2829;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
